#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#navBar {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  background-color: #0d47a1;;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  margin-bottom: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navLinks a {
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3 ease;
}

.navLinks a:hover {
  background-color: #1565c0;
  color: #e3f2fd;
}

.productsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin: 75px;
}

.productCard {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

.productCard img {
  height: 200px;
  width: 150px;
  border: 1px solid black;
}

.singleProductDetailsCard div img {
  height: 400px;
  width: 300px;
  margin: 10px;
}